* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
img {
  width: 100%;
  object-fit: cover;
}
button {
  outline: none;
  border: none;
  background-color: #d45e99;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
}
p {
  font-size: 1rem;
  margin: 0.5rem 0;
}
nav {
  width: 100%;
  position: fixed;
  margin-bottom: 4rem;
  padding: 1.5rem 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 1px 2px 6px #504d4d;
}

.logo strong {
  font-size: 2rem;
  color: #8a2be2;
}
.sub {
  font-size: 0.5rem;
  letter-spacing: 4px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-contact {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 2vw;
}
.nav-contact button {
  font-size: 1.5vw;
}
main {
  /* background-color: yellow; */
  padding: 2rem 8%;
  margin-top: 4rem;
  position: relative;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
#intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;
}
.content,
figure {
  width: 500px;
}

#intro h1 {
  font-size: 35px;
  font-weight: 800;
  color: #504d4d;
  margin-bottom: 1rem;
  line-height: 2.8rem;
}
#intro p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
#intro button {
  font-size: 1.5vw;
}

#testimonial .box {
  width: 550px;
  min-width: 200px;
  background-color: #f7f2f2;
  padding: 1.5rem;
}
.box p {
  font-size: 16px;
  margin-bottom: 1rem;
}
#testimonial .person {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#testimonial img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.less-more {
  color: #0977dd;
  cursor: pointer;
}
.hidden {
  display: none;
}

#unlock .content p {
  font-size: 18px;
  margin: 1rem 0;
}
#unlock .content ul {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-size: 18px;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  position: relative;
  padding: 1rem;
}
.content ul li {
  list-style-image: url("https://storage.googleapis.com/msgsndr/Qa1UvBVhJBvxby4hTfCc/media/620b33b145985522ee075347.svg+xml");
}

h2 {
  font-size: 35px;
  font-weight: 800;
  color: #504d4d;
}
#unlock button {
  font-size: 18px;
}

#experience {
  justify-content: center;
  margin-top: 4rem;
}
#experience .content {
  width: 75%;
  text-align: center;
}
#experience .facilities {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.facility {
  width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.facility p {
  text-align: center;
  font-size: 16px;
  color: #7e7979;
}
.facility .fa-solid {
  font-size: 4rem;
  color: #b190b6;
}
#review {
  justify-content: center;
  gap: 4rem;
}
#review h2 {
  text-align: center;
  width: 60%;
}
#review .review-box {
  width: 85%;
  /* background-color: #ece7e8; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  overflow-x: scroll;
  gap: 1rem;
}
.review-box .box {
  padding: 1rem;
  min-width: 430px;
  background-color: #fff;
  box-shadow: 0px 2px 54px -30px #504b4b;
}
#review button {
  font-size: 18px;
}
#faqs {
  justify-content: center;
  gap: 4rem;
  background-color: #e4dada;
}
#faqs header {
  width: 55%;
  text-align: center;
}
#faqs header p {
  margin-top: 1rem;
  font-size: 17px;
}
#faqs .questions {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.questions .ques {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ques p {
  font-size: 16px;
}
.ques .plus {
  color: #8a2be2;
  font-weight: 900;
  font-size: 20px;
}
.ans {
  padding: 0 1rem;
  transition: all 0.5s ease-in-out;
}
.ans p {
  font-size: 14px;
}
/* .............................................. */
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #504d4de3;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
.pop-up .register {
  width: 720px;
  padding: 2rem;
  background-color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}
.register h2 span {
  display: inline-block;
  font-size: 25px;
  margin: 0.4rem;
  color: #857f7f;
  font-weight: 300;
}
.details {
  background-color: #f1eeee;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  color: #8793b0;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  gap: 10px;
}
.details .number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #8793b0;
  width: 3vw;
  height: 3vw;
}
.details .number.active {
  background-color: #e96bbd;
  border: none;
  color: #fff;
}
.details .detail-name.active {
  color: #e96bbd;
  font-weight: 700;
  font-size: 1.3vw;
}
form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
form input {
  padding: 15px 20px;
  outline: none;
  border: 1px solid #d9d9dc;
  width: 250px;
}
form button {
  width: 80%;
  margin-bottom: 4rem;
  font-size: 12px;
  font-weight: 600;
}
.phone-no {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.error-text {
  color: hsl(0, 100%, 66%);
  font-size: 14px;
}
.close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: -1px 1px 7px 2px #504d4d;
}
footer {
  width: 100%;
  display: flex;
  padding: 5rem 8%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
footer .logo {
  width: 100px;
  margin-bottom: 2rem;
}
footer .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer address {
  font-style: normal;
}
footer .mapouter {
  width: 300px;
}

@media (max-width: 1212px) and (min-width: 1024px) {
  main {
    padding: 1rem;
  }
  .content,
  figure {
    width: 45%;
  }
  #testimonial {
    flex-wrap: nowrap;
  }
  #experience .facilities {
    flex-wrap: nowrap;
  }
}
@media (max-width: 1023px) {
  .content,
  figure {
    width: 100%;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  #testimonial .box {
    width: 100%;
  }
  #experience .facilities {
    flex-direction: column;
    align-items: center;
  }
  .pop-up {
    padding: 2rem;
  }
  .register {
    width: 20rem;
  }
  .details {
    font-size: 2.4vw;
  }
  .details .detail-name.active {
    font-size: 2.4vw;
  }
}
@media (max-width: 739px) {
  .pop-up {
    padding: 2vw;
  }
  .pop-up .register {
    width: 95vw;
  }
  form {
    flex-direction: column;
    padding: 1vw;
    width: 80%;
  }
  .phone-no {
    width: 100%;
  }
  form input {
    width: 100%;
  }
  form button {
    width: 100%;
  }
}
